services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - MONGODB_URI=${MONGODB_URI}
    volumes:
      - ./knowledge_base:/app/knowledge_base
    depends_on:
      - mongodb
    networks:
      - itsd-network
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - itsd-network
    restart: always
    command: >
      sh -c "
      chown -R nginx:nginx /usr/share/nginx/html &&
      chmod -R 755 /usr/share/nginx/html &&
      nginx -g 'daemon off;'
      "
  mongodb:
    image: mongo:5.0
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - itsd-network
    restart: always

volumes:
  mongodb_data:

networks:
  itsd-network:
    driver: bridge